################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.db
*.opendb
*.suo
*.tlog
*.log
*.exe
*.ilk
*.obj
*.pdb
*.idb
*.sln
*.cpp
*.filters
